// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .logo {
    padding: 0px 0 0px !important;
    min-height: 200px;
    text-align: center;

    img {
      max-width: 160px;
    }
  }

  .list {
    margin-bottom: 150;
  }
}